*, *:after, *:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #484848;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

@media (min-width: 540px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 840px) {
  html {
    font-size: 16px;
  }
}
h1, .h1 {
  font-size: 2.1rem;
}

h2, .h2 {
  font-size: 1.9rem;
}

h3, .h3 {
  font-size: 1.7rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.3rem;
}

h6, .h6 {
  font-size: 1.1rem;
}

@media (min-width: 540px) {
  h1, .h1 {
    font-size: 2.6rem;
  }

  h2, .h2 {
    font-size: 2.3rem;
  }

  h3, .h3 {
    font-size: 2rem;
  }

  h4, .h4 {
    font-size: 1.7rem;
  }

  h5, .h5 {
    font-size: 1.4rem;
  }

  h6, .h6 {
    font-size: 1.1rem;
  }
}
@media (min-width: 840px) {
  h1, .h1 {
    font-size: 3.1rem;
  }

  h2, .h2 {
    font-size: 2.7rem;
  }

  h3, .h3 {
    font-size: 2.3rem;
  }

  h4, .h4 {
    font-size: 1.9rem;
  }

  h5, .h5 {
    font-size: 1.5rem;
  }

  h6, .h6 {
    font-size: 1.1rem;
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #626262;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #039BE5;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:active {
  color: #0277BD;
}

blockquote {
  margin: 0;
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  border-left: solid 4px #cecece;
  color: #666;
}
blockquote p:last-child {
  margin-bottom: margin-elements / 2;
}

abbr[title] {
  cursor: help;
}

code, kbd, samp, mark {
  display: inline-block;
}

code, kbd, samp {
  font-family: "Droid Sans Mono", monospace;
}

code, kbd, mark {
  padding: 0 .1em;
  border-radius: .2em;
}

kbd {
  background-color: #454d5e;
  border: solid 1px #3a414f;
  color: #fff;
}

mark {
  background-color: #ffe067;
}

code {
  background-color: #f8f8f8;
  border: solid 1px #ebebeb;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: #f8f8f8;
  border: solid 1px #ebebeb;
  border-radius: .4rem;
  overflow-x: auto;
  overflow-y: hidden;
}
pre code {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border-collapse: collapse;
}
table thead {
  text-align: left;
  color: #626262;
}
table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}
table th, table td {
  padding: 0.8rem 0.6rem;
  border-bottom: solid 1px #ebebeb;
}
table th {
  border-bottom-width: 2px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 18px;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}
ul li, ol li {
  line-height: 1.8;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
dl dt {
  font-weight: 600;
}
dl dd {
  margin-left: 15px;
}
dl dd:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form-group {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(12, 1fr);
  min-width: 100%;
  margin-bottom: 0.5rem;
}

form {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 600;
}

input {
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  border: 1px solid #c6c6c6;
  border-radius: 0.2rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  outline: none;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus {
  border-color: #61a8ff;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="month"],
input[type="time"],
input[type="week"] {
  padding: 0 .4rem;
  height: 2rem;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
  width: 100%;
}

textarea {
  padding: .4rem;
  height: 6rem;
}

.checkbox-field, .radio-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  line-height: 2rem;
}
.checkbox-field label:not(:last-child), .radio-field label:not(:last-child) {
  margin-right: 1rem;
}
.checkbox-field input, .radio-field input {
  margin-right: .2rem;
}

.file-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.file-input input[type="file"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.file-input label {
  order: 1;
  min-width: 140px;
  max-width: 150px;
}
.file-input label:before {
  content: "Chose file";
}
.file-input span {
  display: block;
  flex: 1;
  order: 2;
  margin-left: .5rem;
}
.file-input input[multiple] ~ label:before {
  content: "Chose files";
}

input[type=range] {
  -webkit-appearance: none;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: .5rem;
  cursor: pointer;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  background: #eee;
  border-radius: .25rem;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -.45rem;
  width: 1.4rem;
  height: 1.4rem;
  background: #ffffff;
  border: 2px solid #ddd;
  border-radius: .7rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-thumb {
  border-color: #61a8ff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: .5rem;
  background: #eee;
  border-radius: .25rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 1.4rem;
  height: 1.4rem;
  background: #ffffff;
  border: 2px solid #ddd;
  border-radius: .7rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
input[type=range]:focus::-moz-range-thumb {
  border-color: #61a8ff;
}
input[type=range]::-ms-track {
  width: 100%;
  height: .5rem;
  color: transparent;
  background: transparent;
  border-width: 1rem 0;
  border-color: transparent;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #eee;
  border-radius: 2.6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=range]::-ms-fill-upper {
  background: #eee;
  border-radius: 2.6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=range]::-ms-thumb {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 2px solid #ddd;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: .7rem;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-thumb {
  border-color: #61a8ff;
}

.color-picker {
  display: flex;
  align-items: center;
}
.color-picker input[type="color"] {
  flex: 1;
  margin-left: .5rem;
  padding: 0;
  height: 2.2rem;
  border: 1px solid #c6c6c6;
  border-radius: 0.2rem;
  background-color: transparent;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  cursor: default;
  pointer-events: none;
  outline: none;
}
.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-picker input[type="color"]::-webkit-color-swatch {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0.2rem;
}
.color-picker input[type="color"]::-moz-color-swatch-wrapper {
  padding: 0;
}
.color-picker input[type="color"]::-moz-color-swatch {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0.2rem;
}

.btn {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-weight: 600;
  letter-spacing: .05rem;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  padding: .6rem 1.4rem;
  border-radius: 0.2rem;
  color: #555555;
  background-color: #eee;
  border: none;
}
.btn:hover, .btn:focus {
  text-decoration: none;
  background-color: #f3f3f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  transform: translate3d(0, -2px, 0);
}
.btn:active {
  color: inherit;
  background-color: #e4e4e4;
  box-shadow: none;
  transform: translate3d(0, 0, 0);
}

.btn-primary {
  color: #fff;
  background-color: #61a8ff;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #75b3ff;
  border-color: #75b3ff;
}
.btn-primary:active, .btn-primary.active {
  background-color: #4d9dff;
  color: #fff;
}
.btn-primary[disabled], .btn-primary:disabled, .btn-primary.disabled {
  background-color: #94c4ff;
  box-shadow: none;
}
.btn-primary[disabled]:hover, .btn-primary:disabled:hover, .btn-primary.disabled:hover {
  transform: translate3d(0, 0, 0);
  cursor: not-allowed;
}

.btn-primary-clear {
  color: #61a8ff;
  background-color: transparent;
  box-shadow: none;
}
.btn-primary-clear:hover, .btn-primary-clear:focus {
  color: #75b3ff;
  background-color: transparent;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.btn-primary-clear:active, .btn-primary-clear.active {
  color: #4d9dff;
  text-shadow: none;
}
.btn-primary-clear[disabled], .btn-primary-clear:disabled, .btn-primary-clear.disabled {
  color: #94c4ff;
}
.btn-primary-clear[disabled]:hover, .btn-primary-clear:disabled:hover, .btn-primary-clear.disabled:hover {
  transform: translate3d(0, 0, 0);
  text-shadow: none;
  cursor: not-allowed;
}

.btn-success {
  color: #fff;
  background-color: #4bd763;
}
.btn-success:hover, .btn-success:focus {
  background-color: #5cdb71;
  border-color: #5cdb71;
}
.btn-success:active, .btn-success.active {
  background-color: #3ad355;
  color: #fff;
}
.btn-success[disabled], .btn-success:disabled, .btn-success.disabled {
  background-color: #75e087;
  box-shadow: none;
}
.btn-success[disabled]:hover, .btn-success:disabled:hover, .btn-success.disabled:hover {
  transform: translate3d(0, 0, 0);
  cursor: not-allowed;
}

.btn-success-clear {
  color: #4bd763;
  background-color: transparent;
  box-shadow: none;
}
.btn-success-clear:hover, .btn-success-clear:focus {
  color: #5cdb71;
  background-color: transparent;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.btn-success-clear:active, .btn-success-clear.active {
  color: #3ad355;
  text-shadow: none;
}
.btn-success-clear[disabled], .btn-success-clear:disabled, .btn-success-clear.disabled {
  color: #75e087;
}
.btn-success-clear[disabled]:hover, .btn-success-clear:disabled:hover, .btn-success-clear.disabled:hover {
  transform: translate3d(0, 0, 0);
  text-shadow: none;
  cursor: not-allowed;
}

.btn-danger {
  color: #fff;
  background-color: #ff6961;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #ff7c75;
  border-color: #ff7c75;
}
.btn-danger:active, .btn-danger.active {
  background-color: #ff564d;
  color: #fff;
}
.btn-danger[disabled], .btn-danger:disabled, .btn-danger.disabled {
  background-color: #ff9994;
  box-shadow: none;
}
.btn-danger[disabled]:hover, .btn-danger:disabled:hover, .btn-danger.disabled:hover {
  transform: translate3d(0, 0, 0);
  cursor: not-allowed;
}

.btn-danger-clear {
  color: #ff6961;
  background-color: transparent;
  box-shadow: none;
}
.btn-danger-clear:hover, .btn-danger-clear:focus {
  color: #ff7c75;
  background-color: transparent;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.btn-danger-clear:active, .btn-danger-clear.active {
  color: #ff564d;
  text-shadow: none;
}
.btn-danger-clear[disabled], .btn-danger-clear:disabled, .btn-danger-clear.disabled {
  color: #ff9994;
}
.btn-danger-clear[disabled]:hover, .btn-danger-clear:disabled:hover, .btn-danger-clear.disabled:hover {
  transform: translate3d(0, 0, 0);
  text-shadow: none;
  cursor: not-allowed;
}
