// ------------------------------
// Global
// ------------------------------
$margin-elements: 1rem;
$margin-rows: 1rem;

$border-radius-base: .2rem;

// ------------------------------
// Grid
// ------------------------------
$gutter-width: 15px;
$container-width: 100%;
$container-max-width: 1200px;

$num-cols: 12;

$breakpoint-sm: 540px;
$breakpoint-md: 840px;
$breakpoint-lg: 1080px;

// ------------------------------
// Typography
// ------------------------------
$font-size: 14px;

$heading-font-size: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$heading-font-weight: $font-weight-normal;

$text-color: #484848;

$font-family: "Open Sans", sans-serif;

$font-family-monospace: "Droid Sans Mono", monospace;

$line-height: 1.5;

$letter-spacing: .02rem;

$blockquote-border: solid 4px #cecece;

$anchor-color: #039BE5;
$anchor-color-active: #0277BD;

$code-bg: #f8f8f8;
$code-border: solid 1px #ebebeb;

$kbd-bg: #454d5e;
$kbd-border: solid 1px #3a414f;

$mark-bg: #ffe067;

// ------------------------------
// Tables
// ------------------------------
$table-bg: #f8f8f8;
$table-padding: .8rem .6rem;
$table-border: solid 1px #ebebeb;

// ------------------------------
// Forms
// ------------------------------
$form-field-padding: .5rem;
$form-field-border: solid 1px #c5c5c5;
